@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#welcome {
  display: block;
  margin: 5px;
  font-size: 24px;
  font-family: Helvetica;
  width: 100%;
}
#welcome-logo {
  margin: -2vh;
  display: flex;
  align-items: center;
}
#welcome-logo-img {
  width: 40px;
  border-radius: 50%;
}
#welcome-logo-lettering {
  display: none;
}
.login-content-div {
  display: flex;
  flex-direction: row;
}
.left-login-div {
  display: none;
  padding: 1%;
  margin: 5% 0 0 5%;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}
.right-login-div {
  padding: 1%;
  margin: 5% 5% 0 5%;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
}
.login-nav-item {
  padding: 3px;
}
.login-nav-item p {
  font-family: "Roboto", sans-serif;
}
.login-nav-item:hover {
  background-color: var(--loginPopup-projectColorHover);
}
.login-nav-item-clicked {
  background-color: var(--loginPopup-projectColorHover);
}
.home-section {
  float: right;
  font-family: "Roboto", sans-serif;
  padding: 0 0;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}
.logindiv {
  margin: 10px 10px 0 10px;
  position: relative;
  width: 95%;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: var(--loginPopup-background);
  flex-wrap: wrap;
  align-self: center;
  padding: 20px;
  border-radius: 4px;
  flex-flow: column;
}

/*mobile nav*/
.top-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: #5a0562;
  height: 20px;
  margin: -40px 0px 0 20px;
  /* width: 100%; */
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  align-self: center;
  padding: 0;
}

.closeButtonmobile {
  display: none;
}

.menu > div {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #3c3a3a;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(97, 60, 119, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 40px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu div {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu div {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > div {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > div:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/*Settings div styling*/
.settingsDiv {
  z-index: 10;
  width: 60%;
  position: fixed;
  top: 10%;
  left: 20%;
}

/*Code window instance scrollers*/
.cm-scroller {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.cm-scroller::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.cm-theme-dark {
  height: 100%;
}

.cm-editor {
  height: inherit;
}

.code-window-div {
  flex: 1; /* expand to the maximum */
  height: 46%;
  width: 100%;
  z-index: 1000;
  position: absolute;
}

.export-div {
  width: 80%;
  z-index: 5;
  top: 20%;
  left: 10%;
}
.export-div label {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  color: var(--settingsPopup-text);
}

.form {
  background-color: var(--loginPopup-input);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  width: 80%;

  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-row .submit-btn {
  width: 40%;
}
.runSideBarDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  width: 60%;
  margin: 0 50px;
  padding: 5px;
  text-align: center;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

/*=== Animations start here  ===*/
/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.new-project-form input {
  width: 100%;
}
#project-info div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  gap: 20px;
  color: var(--loginPopup-projectColor);
  margin: -20px 0 10px 0;
}
.form input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: var(--newProject-form-input);
  border: 0;
  margin: 0 0 10px;
  padding: 9px;
  box-sizing: border-box;
  font-size: 14px;
}
.form label {
  color: var(--settingsPopup-text);
  font-size: 14px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: var(--settingsPopup-text);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 9px;
  box-sizing: border-box;
  font-size: 14px;
}
.form h2 {
  color: var(--settingsPopup-text);
  font-size: 20px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.submit-button,
.submit-btn {
  height: 40px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 3px;
  outline: 0;
  background: var(--loginPopup-input);
  width: 100%;
  border: 1;
  border-radius: 2px;
  border-color: var(--settingsPopup-text);
  color: var(--settingsPopup-text);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus,
.submit-btn:hover {
  background: var(--settingsPopup-text);
  border: 2px solid var(--loginPopup-border);
  color: var(--loginPopup-button);
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 15px;
  border: none;
  height: 1.5em;
  background-color: var(--settingsPopup-closeButton);
  font: 0.75em sans-serif;
  cursor: pointer;
  margin-top: 3px;
  border-color: var(--settingsPopup-text);
  border-radius: 30px;
  padding: 0 15px 0 15px;
  color: var(--settingsPopup-text);
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.closeButton2 {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: auto;
  border: none;
  width: 20px;
  height: 20px;
  background-color: var(--settingsPopup-closeButton);
  font: 1em sans-serif;
  cursor: pointer;
  border-color: var(--settingsPopup-text);
  border-radius: 50%;
  color: var(--settingsPopup-text);
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

/* Browse login and open projects styling */

.login-popup {
  padding: 2% 0;
  width: 12rem;
  box-sizing: border-box;
  background-color: var(--loginPopup-background);
  color: var(--loginPopup-text);
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #999;
  border-radius: 0.2rem;
  list-style: none;
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.code-off {
  top: -200%;
  left: -200%;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.float-left-div-thumb {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  width: 100%;
}

.githubSign {
  text-align: center;
  padding: 5px;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

#project_search {
  width: 30%;
  margin-right: 10px;
  border: 3px solid var(--loginPopup-input);
  border-radius: 5px 5px;
  color: var(--loginPopup-projectColor);
  outline: none;
}

#sorting-button-div {
  display: none;
}

.order_dropdown {
  align-self: center;
  border: 3px solid var(--loginPopup-input);
  color: var(--settingsPopup-text);
  background-color: var(--loginPopup-input);
  border-radius: 5px 5px;
  outline: none;
}
.project-item-div {
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
  height: calc(100vh - 250px);
  margin-left: -10px;
}

.project-items-div {
  display: flex;
  flex-direction: column;
}
.project_name {
  font-size: "1.2em";
  font-family: "Roboto", sans-serif;
  color: var(--loginPopup-text);
  text-overflow: "ellipsis";
  display: "block";
  overflow: "hidden";
  width: 80%;
}

.project_name_list {
  font-family: "Roboto", sans-serif;
  color: var(--loginPopup-text);
  width: 20%;
  text-decoration: none;
}

.list_thumb_button {
  padding: 0 3px;
  border: none;
  background: none;
}

.search-bar-div {
  width: 100%;
  height: 25px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 5px 10px 10px 0;
  z-index: 3;
}
.custom-select {
  position: relative;
  display: inline-block;
  margin: 4px 10px 0 5px;
  width: 45%;
}

.custom-select select {
  background: var(--loginPopup-input);
  color: var(--loginPopup-text);
  display: inline-block;
  width: 100%;
  height: 30px;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1 px solid var(--loginPopup-border);
  border-radius: none;
  margin: 6px;
}

.searchButton {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: var(--loginPopup-input);
  width: 100%;
  border: 0;
  color: var(--loginPopup-button);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#featured-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.basic-multi-select {
  margin: 0px 0px 5px 0px;
  width: 100%;
}

.project {
  text-wrap: nowrap;
  background-color: var(--loginPopup-projectColor);
  margin: 5px;
  width: 90%;
  height: 125px;
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  justify-content: flex-start;
}

.project:hover {
  box-shadow: 0 0 0 1px var(--loginPopup-project-border);
  cursor: pointer;
}

.project_list {
  padding: 0 10px 0 10px;
  text-wrap: nowrap;
  display: flex;
  background-color: var(--loginPopup-projectColor);
  margin: 10px;
  font-size: 13px;
  justify-content: flex-start;
}
.project_list:hover {
  background-color: var(--loginPopup-projectColorHover);
}

.project_image {
  display: block;
  margin: auto;
  padding: 0;
  width: 60px;
  height: 60px;
}

.browseDiv {
  padding: 10px 0px;
  width: 400px;
  height: 100px;
  display: inline-flex;
  font-size: 13px;
  justify-content: flex-start;
}

.project:hover {
  background-color: var(--loginPopup-projectColorHover);
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Save bar styling*/

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.save-bar {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.2%;
  top: 40%;
  border-radius: 5px;
  width: 200px;
}
.progress {
  background-color: var(--saveBar-background);
  border-radius: 20px;
  position: relative;
  margin: 5px 15px;
  height: 20px;
  width: 200px;
}

.progress-done {
  background: linear-gradient(to left, #e388de, var(--saveBar-progressColor));
  box-shadow: 0 3px 3px -5px #e15e8a, 0 2px 5px #d42ab5;
  border-radius: 20px;
  color: var(--saveBar-text);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

@media (max-width: 768px) {
  .form {
    width: 90%;
    margin: 30px 10px;
    padding: 30px 10px;
  }
}

@media (min-width: 768px) {
  .form {
    width: 100%;
    margin: 0 auto 100px;
    padding: 30px;
  }
  .login-page {
    margin: auto;
  }
  .login-logo {
    width: 300px;
  }
  .left-login-div {
    display: block;
    padding: 1%;
    margin: 5% 0 0 5%;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
  }
  .right-login-div {
    margin: 0% 5% 0 0;
    width: 75%;
    height: 100%;
  }
  .project-item-div {
    height: 400px;
  }
  #sorting-button-div {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 50%;
    margin: 25px 0 10px 20px;
  }
  .project {
    margin: 5px;
    width: 125px;
  }
  #welcome-logo-img {
    width: 40px;
    border-radius: 50%;
  }
  #welcome-logo-lettering {
    display: flex;
  }
  .search-bar-div {
    margin: 20px 10px 0 0;
  }
  #mobile-nav {
    display: none;
  }
}
