/* Set global color styles  */

:root {
  --abundance-color-mainPurple: rgb(196, 163, 213);
  --abundance-color-brightPurple: #be3fe5;
  --abundance-color-transparentHighlight: #c4a3d565;
  --abundance-color-lightPurple: #c4a3d5;
  --abundance-color-fontLightGrey: rgb(255 255 255 / 34%);
  --abundance-color-fontGrey: #333;
  --abundance-color-fontTransparentGrey: rgba(255, 255, 255, 0.289);
  --abundance-color-fontWhite: #f2f0f0;
  --abundance-color-darkGrey: #3f4243;
  --abundance-color-veryLightPurple: rgb(248 243 251);
  --abundance-color-veryLightPurpleHighlight: rgba(233, 221, 242, 0.961);
  --abundance-color-hightlightOffWhite: #fffffff6;
}

.dark-theme {
  --flowCanvas-background: var(--abundance-color-darkGrey);
  --flowCanvas-text-hover: var(--abundance-color-fontWhite);

  --settingsPopup-text: var(--abundance-color-hightlightOffWhite);
  --settingsPopup-closeButton: var(--abundance-color-darkGrey);

  --loginPopup-background: var(--abundance-color-veryLightPurple);
  --loginPopup-text: var(--abundance-color-fontGrey);
  --loginPopup-border: var(--abundance-color-darkGrey);
  --loginPopup-input: var(--abundance-color-darkGrey);
  --loginPopup-button: var(--abundance-color-darkGrey);
  --loginPopup-projectColor: var(--abundance-color-hightlightOffWhite);
  --loginPopup-projectColorHover: var(
    --abundance-color-veryLightPurpleHighlight
  );
  --newProject-form-input: var(--abundance-color-hightlightOffWhite);

  --lowerCanvas-menu-background: var(--abundance-color-darkGrey);
  --lowerCanvas-menu-text: var(--abundance-color-fontWhite);
  --lowerCanvas-menu-inputs: var(--abundance-color-mainPurple);

  --saveBar-background: var(--abundance-color-fontLightGrey);
  --saveBar-text: var(--abundance-color-hightlightOffWhite);
  --saveBar-progressColor: var(--abundance-color-brightPurple);

  --gitSearch-border: var(--abundance-color-brightPurple);
  --gitSearch-background: var(--abundance-color-darkGrey);
  --gitSearch-text: var(--abundance-color-fontWhite);
  --gitsearch-Panel-background: var(--abundance-color-hightlightOffWhite);
  --gitsearch-Panel-text: var(--abundance-color-darkGrey);

  --run-navigation-button: var(--abundance-color-hightlightOffWhite);
  --run-navigation-button-hover: var(--abundance-color-transparentHighlight);

  --dialog-background: var(--abundance-color-hightlightOffWhite);
  --dialog-text: var(--abundance-color-darkGrey);
  --dialog-border: var(--abundance-color-brightPurple);

  --run-project-info: var(--abundance-color-lightPurple);
  --loginPopup-project-border: var(--abundance-color-lightPurple);
}

.light-theme {
  --flowCanvas-background: var(--abundance-color-darkGrey);
}

/*
 * min.css for OpenJSCAD.org viewer
 */

body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
  background: var(--flowCanvas-background);
  overflow: hidden;
}

.jscad-container {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */
  color: Black;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans;
}

.row-flex {
  display: flex;
  flex-direction: column;
}

#headerBar {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
}
#headerBarRun {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
}

#headerBar p {
  align-items: center;
  display: inline-block;
  font-size: 0.8em;
  width: 100%;
  margin-top: 3px;
  margin-right: 5px;
}

.thumnail-logo {
  width: 30px;
  height: 30px;
  display: inline;
  padding: 1px;
}

.repo-name-path {
  color: var(--abundance-color-fontLightGrey);
  text-decoration: none;
}
.repo-name-path:hover {
  color: var(--flowCanvas-text-hover);
}
.disabled {
  opacity: 0.2;
}
/* Shrotcut button */
#shortcutDiv {
  width: 120px;
  position: absolute;
  left: calc(100% - 200px);
  top: 25px;
  color: var(--abundance-color-fontTransparentGrey);
  z-index: 1000;
  padding: 10px;
}
#shortcutDiv li {
  font-size: 14px;
  list-style: none;
  letter-spacing: 2px;
  padding: 0px;
}
.shortcut-button {
  padding: 0 2px;
  background-color: var(--settingsPopup-text);
  border: none;
}

.hidden {
  display: none;
}
.shortcut-button:checked + #shortcutDiv {
  display: block;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#flow-canvas {
  background-color: var(--flowCanvas-background);
  margin-top: 0;
  flex-shrink: 2;
  padding-bottom: 10px;
}

.flex-parent {
  display: flex;
}
.runContainer {
  display: flex;
}

#modelViewer {
  margin: 0px; /* not inherited */
  padding: 10px; /* not inherited */
  padding-top: 0px;

  top: 0px;
  bottom: 0px;

  cursor: move;

  height: 100%;
  width: 95%;
}

canvas {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */
  display: block;
}

/* Github Search */

#git_search {
  background-color: var(--gitSearch-background);
  border: 1px solid var(--gitSearch-border);
  scrollbar-width: thin;
  border-radius: 5px;
  color: var(--gitSearch-text);
  width: 210px;
  padding: 10px;
  position: absolute;
  z-index: 5;
  max-height: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
}

#git_search input {
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--gitSearch-text);
  color: var(--gitSearch-background);
  width: 200px;

  z-index: 5;
  height: 25px;
}

#git_search li:hover {
  background-color: #000;
}

/*gitmolecule info panel on hover gitmolecule from list*/
.GitProjectInfoPanel {
  padding: 10px;
  display: flex;
  background-color: var(--gitsearch-Panel-background);
  border: 2px solid #c4a3d5;
  color: rgb(10, 9, 10);
  width: 340px;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 10;
  gap: 20px;
}
.GitProjectInfoPanel img {
  width: 100px;
  height: 100px;
}
.GitInfoLeft {
  align-self: center;
}
.GitInfo {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

/*menu new arc*/

/* line 3, ../../sass/circular-menu.scss */

.cn-menu1 {
  position: absolute;
}

.circular-menu {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
    "STHeitiSC-Light", "Microsoft YaHei", Arial, sans-serif;
  z-index: 1040;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  position: fixed;
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: default;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
  /*cover to prevent extra space of anchors from being clickable*/
}
/* line 17, ../../sass/circular-menu.scss */
.circular-menu.circular-sub-menu {
  transition: all 0s ease 0s;
}
/* line 19, ../../sass/circular-menu.scss */
.circular-menu.circular-sub-menu:after {
  display: none;
}
/* line 25, ../../sass/circular-menu.scss */
.circular-menu:after {
  content: ".";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 10;
  color: transparent;
  box-sizing: border-box;
}
/* circular-menu.css */

.circular-menu.opened-nav {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.3s ease;
  transform: scale(0.5);
  pointer-events: auto;
}
/* line 43, ../../sass/circular-menu.scss */
.circular-menu.opened-nav li {
  transition: all 0.3s ease 0.3s;
  pointer-events: none;
}
/* line 46, ../../sass/circular-menu.scss */
.circular-menu.opened-nav li a {
  pointer-events: auto;
}
/* line 48, ../../sass/circular-menu.scss */
.circular-menu.opened-nav li a .horizontal {
  pointer-events: none;
}
/* line 55, ../../sass/circular-menu.scss */
.circular-menu ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 60, ../../sass/circular-menu.scss */
.circular-menu ul li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  transform-origin: 100% 100%;
}
/* line 69, ../../sass/circular-menu.scss */
.circular-menu ul li a {
  box-sizing: border-box;
  position: absolute;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  backface-visibility: hidden;
}
/* line 80, ../../sass/circular-menu.scss */
.circular-menu ul li a span.cm-icon {
  display: inline-block;
  background-size: cover;
}
/* line 85, ../../sass/circular-menu.scss */

.circular-menu ul li a span {
  display: none;
}

/* line 95, ../../sass/circular-menu.scss */
.circular-menu ul li a .cn-icon:before {
  display: table;
}
/* line 99, ../../sass/circular-menu.scss */
.circular-menu ul li a.disabled {
  -webkit-filter: grayscale(100%);
  pointer-events: none !important;
  cursor: default;
}
/* line 105, ../../sass/circular-menu.scss */
.circular-menu ul li a:focus {
  position: fixed;
  /* fix the displacement bug in webkit browsers when using tab key */
}

.tooltip {
  display: block;
  pointer-events: none;
  background-color: var(--abundance-color-fontTransparentGrey);
  margin: auto;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  color: white;
  z-index: 1041;
  position: absolute;
  top: 100;
  right: 100;
}

/* styles for top nav menu */
/*==========================
Sidebar navigation
========================*/
.toggle {
  position: fixed;
  right: 10px;
  top: 0;
  cursor: pointer;
  border: none;
}

.rotati {
  transform: rotate(90deg);
}
.rotati-right {
  transform: translate(0px);
}
.rotati-plus {
  transform: translate(0px) rotate(90deg);
}
.menu-nav-button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu-nav {
  position: absolute;
  /*right: 80px;*/
  top: -15px;
  list-style: none;
  width: 0;
  overflow: hidden;
  max-width: 250px;
  z-index: 9;
  transform: translateX(90px);
  transition: transform ease-in-out 0.1s;
  /* transition: width ease 0.2s; */
}
.nav-img,
.menu-nav img {
  padding: 10px;
}
.menu-nav img:hover {
  background-color: #ffffffe1;
}
.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}

.go-up-button {
  position: fixed;
  right: 45px;
  top: 0;
  cursor: pointer;
}

/* The toggle switch between run and create */
/* The switch - the box around the slider */
.switch {
  position: fixed;
  width: 45px;
  height: 24px;
  top: 47%;
  right: 15%;
  z-index: 2;
  font-size: 11px;
}

/* The switch - the box around the slider */
.switch_run {
  position: fixed;
  width: 45px;
  height: 24px;
  top: 1vh;
  left: 20px;
  z-index: 2;
  font-size: 11px;
}

/*new leva sidebar */
.paramEditorDiv {
  max-height: 45%;
  position: absolute;
  top: 53%;
  left: 10px;
  width: 250px;
  z-index: 3;
  overflow-x: auto;
  box-sizing: content-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.paramEditorDiv::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.paramEditorDivRun {
  position: absolute;
  top: 110px;
  right: 10px;
  width: 250px;
  z-index: 3;
}

.exportEditorDivRun {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 250px;
  z-index: 3;
}

.gridEditorDiv {
  position: absolute;
  top: 47%;
  left: 10px;
  width: 250px;
  z-index: 3;
}
.gridEditorDivRun {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  z-index: 5;
}
.bomEditorDiv {
  position: absolute;
  top: 47%;
  left: 300px;
  width: 250px;
  z-index: 3;
}
.bomEditorDivRun {
  position: absolute;
  top: 160px;
  right: 10px;
  width: 250px;
  z-index: 2;
}

/* Run Navigation Mobile */

.run-navigation {
  position: absolute;
  width: 2vh;
  bottom: 10%;
  left: 2vh;
  z-index: 3;
}
.run-navigation-button {
  border: 2px solid var(--run-navigation-button-hover);
  border-radius: 50%;
  background-color: var(--run-navigation-button);
  width: 35px;
  height: 35px;
  margin-bottom: 25px;
}
.run-navigation-button svg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.run-navigation-button:hover {
  cursor: pointer;
  border: 2px solid var(--run-navigation-button);
  background-color: var(--run-navigation-button-hover);
}

.thumnail-logo-run {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
}

/* Share Dialog Mobile */

.share-dialog {
  font-family: "ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace";
  font-size: 12px;
  position: fixed;
  color: var(--dialog-text);
  background-color: var(--dialog-background);
  width: 80%;
  border: 1px solid var(rgb(129, 127, 127));
  border-radius: 2px;
  top: 30%;
  z-index: 4;
}
.share-dialog button {
  margin: 10px;
  padding: 5px;
  background-color: var(--abundance-color-hightlightOffWhite);
  width: 50px;
  border-radius: 1px;
}
.share-dialog button:hover {
  background-color: var(--dialog-border);
}

/*info div for run repository*/
.info_run_div {
  padding: 10px 20px;
  position: absolute;
  bottom: 1vh;
  left: 4vh;
  z-index: 4;
  color: var(--run-project-info);
  line-height: 5px;
  font-size: 12px;
}

/* Loading Lower canvas dots*/

.centered-text {
  position: absolute;
  font-size: 18px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Prevents interfering with the select element */
  transition: opacity 0.3s ease;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #cb7eff;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #be89f0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #9c46b4;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #510fba;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #640080;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}
@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .menu-nav {
    position: absolute;
    top: -15px;
    list-style: none;
    width: 0;
    overflow: hidden;
    right: 80px;
    max-width: 450px;
    z-index: 9;
    transform: translateX(170px);
    transition: transform ease-in-out 0.1s;
    /* transition: width ease 0.2s; */
  }
  .paramEditorDiv {
    width: 280px;
    top: 57vh;
  }
  .paramEditorDivRun {
    position: absolute;
    top: 19%;
    right: 10px;
    width: 280px;
    z-index: 3;
  }
  .exportEditorDivRun {
    position: absolute;
    top: 12%;
    right: 10px;
    width: 280px;
    z-index: 3;
  }

  .gridEditorDiv {
    position: absolute;
    top: 47%;
    left: 10px;
    width: 280px;
    z-index: 3;
  }
  .gridEditorDivRun {
    position: absolute;
    top: 5%;
    right: 10px;
    width: 280px;
    z-index: 5;
  }
  .bomEditorDiv {
    position: absolute;
    top: 47%;
    left: 300px;
    width: 280px;
    z-index: 3;
  }
  .bomEditorDivRun {
    position: absolute;
    top: 5%;
    right: 310px;
    width: 280px;
    z-index: 2;
  }
  /* Run Navigation */

  .run-navigation {
    position: absolute;
    width: 60px;
    left: 100px;
    top: 20%;
    z-index: 3;
  }
  .run-navigation-button {
    border: 2px solid var(--run-navigation-button-hover);
    border-radius: 50%;
    background-color: var(--run-navigation-button);
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }
  .run-navigation-button svg {
    scale: 0.7;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  /* The switch - the box around the slider */
  .switch_run {
    top: 20px;
  }
  .switch {
    right: 70px;
  }
  .thumnail-logo {
    width: 25px;
    height: 25px;
  }

  .info_run_div {
    line-height: 15px;
    font-size: 18px;
    left: 30vh;
    bottom: 13vh;
    border: 2px solid var(--run-project-info);
  }

  /* Share Dialog */

  .share-dialog {
    width: 600px;
  }
  .share-dialog button {
    margin: 10px;
    width: 100px;
  }
  .share-dialog button:hover {
    background-color: var(--dialog-border);
  }
}

.centered-text {
  position: absolute;
  font-size: 18px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Prevents interfering with the select element */
  transition: opacity 0.3s ease;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
}

.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}

.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
  background: #cb7eff;
}

.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
  background: #be89f0;
}

.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
  background: #9c46b4;
}

.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}

.loading .dot:nth-child(4) {
  background: #510fba;
}

.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}

.loading .dot:nth-child(5) {
  background: #640080;
}

.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .loading {
    height: 100vh;
  }
}
