/*
 * min.css for OpenJSCAD.org viewer
 */

body {
  margin: 0px;
  padding: 0px;
}

.jscad-container {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */
  color: Black;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans;
}

.row-flex {
  display: flex;
  flex-direction: column;
}

#headerBar {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
}

#headerBar p {
  align-items: center;
  color: rgb(9, 9, 9);
  display: inline-block;
  font-size: 0.8em;
  width: 100%;
  margin-top: 3px;
  margin-right: 5px;
}

#popUp {
  color: white;
  width: 1%;
  font-family: "Roboto", sans-serif;

  font-weight: 200;
  font-size: 0.7em;
  padding: 2px 0;
  height: 10px;
  background-color: #4caf50;
  text-align: center;
  line-height: 10px;
  color: black;
  border-radius: 5px;
}

#Progress_Status {
  position: absolute;
  width: 200px;
  background-color: #ddd;
  right: 1%;
  top: 40px;
  border-radius: 5px;
}

.thumnail-logo {
  width: 25px;
  height: 25px;
  display: inline;
  padding: 1px;
}

.repo-name-path {
  color: rgb(255 255 255 / 34%);
  text-decoration: none;
}
.repo-name-path:hover {
  color: rgb(255 255 255 / 80%);
}
.disabled {
  opacity: 0.2;
}
/* Shrotcut button */

.shortcut-button {
  padding: 0 2px;
  background-color: #ffffffd7;
  border: none;
}

.hidden {
  display: none;
}
.shortcut-button:checked + #shortcutDiv {
  display: block;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .sliderAtom {
  background-color: #444;
}

input:focus + .sliderAtom {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliderAtom:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.sliderAtom.round {
  border-radius: 34px;
}

.sliderAtom.round:before {
  border-radius: 50%;
}

.drop {
  display: none;
  color: whitesmoke;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 100%;
  margin-top: -50%;
  background-color: black;
  border-radius: 0 0 10px 10px;
  padding: 15px 0px 10px 0;
}

#viewer_bar,
.arrow-up {
  color: black;
  float: right;
  position: relative;
  height: 35px;
  bottom: 35px;
  left: 0px;
  font-size: 0.7em;
}

#viewer_bar p,
#viewer_bar div {
  display: inline-block;
  margin-top: 0px;
  padding: 5px;
}

.slideup,
.slidedown {
  overflow-y: hidden;
}
.slideup {
  transform: translateY(0%);
  transition: 0.4s ease-in-out;
  opacity: 1;
}
.slidedown {
  transform: translateY(50%);
  opacity: 0;
}

#flow-canvas {
  background-color: #3f4243;
  margin-top: 0;
  flex-shrink: 2;
  padding-bottom: 10px;
}

.sideBar {
  flex: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  color: #444;
  overflow: auto;
  padding: 0px;
  border: 3px #424040;
  border-left-style: solid;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bolder;
  padding: 5px;
  text-decoration: underline;
}

.runSideBar {
  flex: 3;
  background-color: #ffffff;
  color: #444;
  overflow: auto;
  border: 3px #424040;
  border-right-style: solid;
}

#gridDiv,
#wireDiv {
  display: block;
}

.flex-parent {
  display: flex;
}
.runContainer {
  display: flex;
}

#header {
  margin: 0px; /* not inherited */
}

#modelViewer {
  margin: 0px; /* not inherited */
  padding: 10px; /* not inherited */
  padding-top: 0px;

  top: 0px;
  bottom: 0px;

  cursor: move;

  height: 100%;
  width: 95%;
}

canvas {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */
  display: block;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #787776;
  overflow: hidden;
}

#parametersdiv {
  margin: 0px; /* not inherited */
  padding: 0px;

  background: white;
  opacity: 0.8;
}

#parametersdiv table {
  text-align: left;
  font-size: 0.8em;
  font-weight: normal;
}

#parametersdiv th {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */

  font-weight: bold;
}

#parametersdiv th.caption {
  text-decoration: underline;
}

#parametersdiv td.caption {
  text-align: right;
  font-weight: bold;
}

#parametersdiv td {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */
}

#parametersdiv input,
#parametersdiv textarea,
#parametersdiv select {
  font-size: 0.9em;
  background: #fea;
  border: none;
}

#updateButton {
  margin: 0px; /* not inherited */
  padding: 0px; /* not inherited */
  background: white;
}

#tail {
  margin: 0px; /* not inherited */
}

#busy {
  vertical-align: middle;
}

.menu {
  /* old menu.. keeping for search bar features */
  display: none;
  width: 14rem;
  max-height: 8rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #999;
  border-radius: 0.2rem;
  list-style: none;
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
  padding-bottom: 0px;
}

#canvas_menu {
  display: none;
  max-height: 8rem;
  overflow-x: hidden;
  background-color: whitesmoke;
  color: #333;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #999;
  list-style: none;
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease, transform 0.3s;
}

#git_search {
  background-color: #27292a;
  border: 1px solid #c4a3d5;
  scrollbar-width: thin;
  border-radius: 5px;
  color: #eceded;
  width: 250px;
  padding: 10px;
  position: absolute;
  z-index: 5;
  max-height: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
}

#git_search input {
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #c4a3d5;
  color: #3f4243;
  width: 200px;

  z-index: 5;
  height: 25px;
}

#git_search li:hover {
  background-color: #000;
}
.doc-title {
  font-size: 1.3rem;
  padding: 10px;
  margin: 0;
  text-align: left;
}

.menu.off {
  top: -200%;
  left: -200%;
}

.menu-item {
  border-bottom: 1px solid #e0dcdce8;
  color: black;
  height: 1.5rem;
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  padding: 0 1rem;
  cursor: pointer;
}
.menu-item-mine {
  background-color: #2ea44f;
}

.menu-item:hover,
.menu-item:active,
.menu-item-mine:hover {
  color: #000;
  font-weight: 500;
  background-color: #82c288;
}

.menu_list {
  list-style: none;
  float: left;
  padding-inline-start: 0px;
}

/* Style the tabs in the menu*/
.tab {
  float: right;
  right: 10px;
  width: 32%;
  margin-top: -30px;
  margin-bottom: 15px;
  box-sizing: border-box;
  align-self: flex-end;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  vertical-align: middle;
  border: 0px white solid;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f4f2f2;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.molecule_title {
  background-color: #f7f6f6;
  color: black;
  text-align: right;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  border-bottom: 2px solid #e3e3e3;
}

.atom_description {
  color: black;
  text-align: center;
  margin: 0px;
  padding: 10px;
  border-bottom: 2px solid #e3e3e3;
}

.sidebar-item {
  overflow: visible;
  list-style: none;
  height: 2rem;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: capitalize;
  margin-right: 5px;
}

.editing-item:hover .laber-item:active .editing-item:active {
  color: #000;
  font-weight: 500;
}

.sidebar-editable-div {
  width: 80%;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar-editable-area {
  width: 100%;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

  font-size: 20px;
  resize: none;
}
.sidebar-label-item {
  margin: 10px;
  width: 100%;
}

.noediting-item {
  display: inline-block;
  padding-bottom: 5px;
  min-width: 10px;
  border-radius: 5px;
}

.editing-item {
  overflow: hidden;
  display: inline;
  margin-left: 5px;
  padding-bottom: 5px;
  min-width: 10px;
  max-height: 1.5em;
  border-radius: 3px;
}

.editing-item:hover {
  background-color: #bfbfbf;
  color: black;
  padding: 3px;
}

.sidebar_button {
  display: block;
  margin: auto;
  background: #444;
  cursor: pointer;
  outline: none;
  border: 2px white solid;
  border-radius: 0.8rem;
  width: 100%;
  padding-bottom: 3px;
}
.sidebar_button:hover,
.form button:active,
.form button:focus {
  background: none;
}
.sidebar_button:hover {
  /* background: white;  */
  border: 2px (0, 0, 0, 0.8) solid;
}

#localMolecules_top {
  background-color: black;
}

.available_molecules {
  width: 100px;
  position: relative;
  top: -18px;
  right: 215px;
  margin: auto;
  background-color: whitesmoke;
  color: #444;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  max-height: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  z-index: 1;
}

.available_molecules li {
  color: #444;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid white;
}

/*menu new arc*/

/* line 3, ../../sass/circular-menu.scss */

.cn-menu1 {
  position: absolute;
}

.circular-menu {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
    "STHeitiSC-Light", "Microsoft YaHei", Arial, sans-serif;
  z-index: 1040;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  position: fixed;
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: default;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
  /*cover to prevent extra space of anchors from being clickable*/
}
/* line 17, ../../sass/circular-menu.scss */
.circular-menu.circular-sub-menu {
  transition: all 0s ease 0s;
}
/* line 19, ../../sass/circular-menu.scss */
.circular-menu.circular-sub-menu:after {
  display: none;
}
/* line 25, ../../sass/circular-menu.scss */
.circular-menu:after {
  content: ".";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 10;
  color: transparent;
  box-sizing: border-box;
}
/* circular-menu.css */

.circular-menu.opened-nav {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.3s ease;
  transform: scale(0.5);
  pointer-events: auto;
}
/* line 43, ../../sass/circular-menu.scss */
.circular-menu.opened-nav li {
  transition: all 0.3s ease 0.3s;
  pointer-events: none;
}
/* line 46, ../../sass/circular-menu.scss */
.circular-menu.opened-nav li a {
  pointer-events: auto;
}
/* line 48, ../../sass/circular-menu.scss */
.circular-menu.opened-nav li a .horizontal {
  pointer-events: none;
}
/* line 55, ../../sass/circular-menu.scss */
.circular-menu ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 60, ../../sass/circular-menu.scss */
.circular-menu ul li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  transform-origin: 100% 100%;
}
/* line 69, ../../sass/circular-menu.scss */
.circular-menu ul li a {
  box-sizing: border-box;
  position: absolute;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  backface-visibility: hidden;
}
/* line 80, ../../sass/circular-menu.scss */
.circular-menu ul li a span.cm-icon {
  display: inline-block;
  background-size: cover;
}
/* line 85, ../../sass/circular-menu.scss */

.circular-menu ul li a span {
  display: none;
}

/* line 95, ../../sass/circular-menu.scss */
.circular-menu ul li a .cn-icon:before {
  display: table;
}
/* line 99, ../../sass/circular-menu.scss */
.circular-menu ul li a.disabled {
  -webkit-filter: grayscale(100%);
  pointer-events: none !important;
  cursor: default;
}
/* line 105, ../../sass/circular-menu.scss */
.circular-menu ul li a:focus {
  position: fixed;
  /* fix the displacement bug in webkit browsers when using tab key */
}

.tooltip {
  display: block;
  pointer-events: none;
  background-color: #474747f7;
  margin: auto;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  color: white;
  z-index: 1041;
  position: absolute;
  top: 100;
  right: 100;
}

/* styles for top nav menu */
/*==========================
Sidebar navigation
========================*/
.toggle {
  position: fixed;
  right: 10px;
  top: 0;
  cursor: pointer;
  border: none;
}

.rotati {
  transform: rotate(90deg);
}
.rotati-right {
  transform: translate(0px);
}
.rotati-plus {
  transform: translate(0px) rotate(90deg);
}
.menu-nav-button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu-nav {
  position: absolute;
  right: 80px;
  top: -15px;
  list-style: none;
  width: 0;
  overflow: hidden;
  max-width: 450px;
  z-index: 9;
  transform: translateX(170px);
  transition: transform ease-in-out 0.1s;
  /* transition: width ease 0.2s; */
}
.nav-img,
.menu-nav img {
  padding: 10px;
}
.menu-nav img:hover {
  background-color: #ffffffe1;
}
.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}

.go-up-button {
  position: fixed;
  right: 45px;
  top: 0;
  cursor: pointer;
}

/* The toggle switch between run and create */
/* The switch - the box around the slider */
.switch {
  position: fixed;
  width: 45px;
  height: 24px;
  top: 47%;
  right: 70px;
  z-index: 2;
  font-size: 11px;
}

/* The switch - the box around the slider */
.switch_run {
  position: fixed;
  width: 45px;
  height: 24px;
  top: 20px;
  left: 20px;
  z-index: 2;
  font-size: 11px;
}

/*new leva sidebar */
.paramEditorDiv {
  max-height: 45%;
  position: absolute;
  top: 53%;
  left: 10px;
  width: 280px;
  z-index: 3;
  overflow-x: auto;
  box-sizing: content-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.paramEditorDiv::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.paramEditorDivRun {
  position: absolute;
  top: 19%;
  right: 10px;
  width: 280px;
  z-index: 3;
}

.exportEditorDivRun {
  position: absolute;
  top: 12%;
  right: 10px;
  width: 280px;
  z-index: 3;
}

.gridEditorDiv {
  position: absolute;
  top: 47%;
  left: 10px;
  width: 280px;
  z-index: 3;
}
.gridEditorDivRun {
  position: absolute;
  top: 5%;
  right: 10px;
  width: 280px;
  z-index: 3;
}
.bomEditorDiv {
  position: absolute;
  top: 47%;
  left: 300px;
  width: 280px;
  z-index: 3;
}
.bomEditorDivRun {
  position: absolute;
  top: 5%;
  right: 310px;
  width: 280px;
  z-index: 2;
}

/* Run Navigation */

.run-navigation {
  position: absolute;
  width: 60px;

  top: 150px;
  left: 100px;
  z-index: 3;
}
.run-navigation-button {
  border: 2px solid #e5cbf2b2;
  border-radius: 50%;

  width: 60px;
  height: 60px;
  margin-bottom: 50px;
}

.run-navigation-button:hover {
  cursor: pointer;
  border: 2px solid #e3bbf7;
  background-color: #3f4243ef;
}

.thumnail-logo-run {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
}

/* Share Dialog */

.share-dialog {
  font-family: "ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace";
  text-transform: uppercase;
  position: fixed;
  color: #3f4243;
  background-color: #f8f8f8f5;
  width: 600px;
  border: 3px solid #c4a3d5;
  border-radius: 10px;
  top: 30%;
  z-index: 4;
}
.share-dialog button {
  margin: 10px;
  text-transform: uppercase;
  background-color: #c4a3d549;
  border: 2px solid #c4a3d5;
  width: 100px;
  border-radius: 3px;
}
.share-dialog button:hover {
  background-color: #c4a3d5b0;
}

/*info div for run repository*/
.info_run_div {
  border: 2px solid #c4a3d54c;
  padding: 10px 20px;
  position: absolute;
  top: 80%;
  right: 20%;
  z-index: 4;
  color: #c4a3d5;
}

/*gitmolecule info panel on hover gitmolecule from list*/
.GitProjectInfoPanel {
  display: flex;
  background-color: #27292ab0;
  border: 2px solid #e7ddecc2;
  color: white;
  width: 300px;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 10;
  gap: 10px;
}
.GitProjectInfoPanel img {
  width: 100px;
  height: 100px;
}
.GitInfoLeft {
  align-self: center;
}
.GitInfo {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
