.icon1 {
  background-position: 0 0;
}

.Actions {
  background: url("/Abundance/imgs/actions.png");
  width: 400%;
  height: 400%;
}

.Inputs {
  background: url("/Abundance/imgs/Input.png");
  width: 400%;
  height: 400%;
}
.Shapes {
  background: url("/Abundance/imgs/Shapes.png");
  width: 150%;
  height: 150%;
}
.Assembly {
  background: url("/Abundance/imgs/Assembly.png");
  width: 150%;
  height: 150%;
}
.Fusion {
  background: url("/Abundance/imgs/fusion.png");
  width: 150%;
  height: 150%;
}
.Interaction {
  background: url("/Abundance/imgs/interaction.png");
  width: 150%;
  height: 150%;
}
.Intersection {
  background: url("/Abundance/imgs/intersection.png");
  width: 150%;
  height: 150%;
}
.ShrinkWrap {
  background: url("/Abundance/imgs/shrinkwrap.png");
  width: 150%;
  height: 150%;
}
.Tags {
  background: url("/Abundance/imgs/tag.png");
  width: 150%;
  height: 150%;
}

.OverCut-Corners {
  background: url("/Abundance/imgs/Overcut.png");
  width: 150%;
  height: 150%;
}

.Import-Export {
  background: url("/Abundance/imgs/import.png");
  width: 150%;
  height: 150%;
}

.Export {
  background: url("/Abundance/imgs/Export_menu.svg");
  width: 150%;
  height: 150%;
}

.Import {
  background: url("/Abundance/imgs/Import_menu.svg");
  width: 150%;
  height: 150%;
}

.Group {
  background: url("/Abundance/imgs/Group.png");
  width: 150%;
  height: 150%;
}
.Text {
  background: url("/Abundance/imgs/text.png");
  width: 150%;
  height: 150%;
}

.Difference {
  background: url("/Abundance/imgs/difference.png");
  width: 150%;
  height: 150%;
}

.Rectangle {
  background: url("/Abundance/imgs/rectangle.png");
  width: 150%;
  height: 150%;
}

.Circle {
  background: url("/Abundance/imgs/circle.png");
  width: 150%;
  height: 150%;
}

.Code {
  background: url("/Abundance/imgs/code.png");
  width: 150%;
  height: 150%;
}
.Gcode {
  background: url("/Abundance/imgs/gcode.png");
  width: 150%;
  height: 150%;
}

.Scale {
  background: url("/Abundance/imgs/scale.png");
  width: 150%;
  height: 150%;
}

.RegularPolygon {
  background: url("/Abundance/imgs/RegularPolygon.png");
  width: 150%;
  height: 150%;
}

.Extrude {
  background: url("/Abundance/imgs/extrude.png");
  width: 150%;
  height: 150%;
}
.Move {
  background: url("/Abundance/imgs/move.png");
  width: 150%;
  height: 150%;
}
.Molecule {
  background: url("/Abundance/imgs/molecule.png");
  width: 150%;
  height: 150%;
}
.GitHubMolecule {
  background: url("/Abundance/imgs/githubmolecule.png");
  width: 250%;
  height: 250%;
}
.GeneticAlgorithm {
  background: url("/Abundance/imgs/genetic.svg");
  width: 150%;
  height: 150%;
}

.Color {
  background: url("/Abundance/imgs/Color.png");
  width: 150%;
  height: 150%;
}

.CutList {
  background: url("/Abundance/imgs/Cutlist.png");
  width: 150%;
  height: 150%;
}

.Rotate {
  background: url("/Abundance/imgs/Rotate.png");
  width: 150%;
  height: 150%;
}

.Input {
  background: url("/Abundance/imgs/Input.png");
  width: 150%;
  height: 150%;
}

.Equation {
  background: url("/Abundance/imgs/Equation.png");
  width: 150%;
  height: 150%;
}

.Loft {
  background: url("/Abundance/imgs/loft.png");
  width: 150%;
  height: 150%;
}

.Stretch {
  background: url("/Abundance/imgs/Stretch.png");
  width: 150%;
  height: 150%;
}

.Stl {
  background: url("/Abundance/imgs/stl.png");
  width: 150%;
  height: 150%;
}

.Svg {
  background: url("/Abundance/imgs/svg.png");
  width: 150%;
  height: 150%;
}

.CutAway {
  background: url("/Abundance/imgs/CutAway.png");
  width: 150%;
  height: 150%;
}

.Tag {
  background: url("/Abundance/imgs/tag.png");
  width: 150%;
  height: 150%;
}

.Add-BOM-Tag {
  background: url("/Abundance/imgs/Bom.png");
  width: 150%;
  height: 150%;
}

.Readme {
  background: url("/Abundance/imgs/readme.png");
  width: 50%;
  height: 50%;
}

.CutLayout {
  background: url("/Abundance/imgs/cutlayout.png");
  width: 150%;
  height: 150%;
}

.ExtractTag {
  background: url("/Abundance/imgs/extracttag.png");
  width: 150%;
  height: 150%;
}

.Constant {
  background: url("/Abundance/imgs/Constant.png");
  width: 150%;
  height: 150%;
}
